TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
MEMOS_URL=http://localhost:5230
MEMOS_TOKEN=your_memos_personal_access_token_here
GEMINI_API_KEY=your_gemini_api_key_here
ALLOWED_USER_IDS=123456789
MEMOS_GITHUB_SPACE=spaces/4fe7faa5-3249-4306-b54a-e96fce67b485
MEMOS_TWITTER_SPACE=spaces/a4de3105-2b42-4865-9298-cf61228250ea
